<kendo-appbar position="top">
  <kendo-appbar-section>
    <button class="k-button k-button-clear">
      <kendo-icon name="menu"></kendo-icon>
    </button>
  </kendo-appbar-section>

  <kendo-appbar-section>
    <h1 class="title">Kendo UI for Angular</h1>
  </kendo-appbar-section>

  <kendo-appbar-spacer width="32px"></kendo-appbar-spacer>

  <kendo-appbar-section>
    <ul>
      <li><a>What's New</a></li>
      <li routerLink="/map">Map</li>
      <li routerLink="/mergemap">MergeMap</li>
      <li routerLink="/emplist">Emp List</li>
    </ul>
    <router-outlet></router-outlet>
  </kendo-appbar-section>
  <kendo-appbar-section class="actions">
    <kendo-appbar-spacer width="500px"></kendo-appbar-spacer>
    <kendo-appbar-section>
      <!-- <kendo-avatar
      [data]="settings"
        [imageSrc]="kendokaAvatar"
        shape="circle"
        width="35px"
        height="35px"
      > </kendo-avatar> -->

      <kendo-avatar [data]="settings" [imageSrc]="kendokaAvatar" shape="circle" width="35px" height="35px">

      </kendo-avatar>
      <kendo-dropdownbutton [icon]="icon" [data]="settings" [imageSrc]="kendokaAvatar" shape="circle" width="35px"
        height="35px"></kendo-dropdownbutton>

      <kendo-appbar-spacer width="10px"></kendo-appbar-spacer>
      <button kendoButton [primary]="true" [toggleable]="true" (click)="signOut()">
        <!-- {{ displayElement ? "Add" : "Update" }} -->
        Sign Out
      </button>

    </kendo-appbar-section>

  </kendo-appbar-section>